.learnContainer {
    margin-bottom: 204px;
    color: white;
    padding-top: 156px;
}

.learnHeading {
    margin-bottom: 24px;
    display: flex;

    h3 {
        font-size: 90px;
        margin-right: 33px;
    }

    img {
        width: 109px;
        height: 109px;
    }
}

.learnProtectText {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 71px;
}

.learnMainInfoAndImg {
    position: relative;
    background: #262732;
    border-radius: 20px;
}


.learnContent {
    display: flex;
    padding-top: 80px;
    height: 615px;
}

.learnContentMobileAdaptiv {
    display: block;
    width: 100%;
}


.learnBtnsAndFAQ {
    margin-right: 7%;
    p {
        position: relative;
        bottom: 0;
        padding-left: 46px;
        font-size: 15px;
        font-weight: 500;

        a {
            text-decoration: none;
            color: #0066FF;
        }
    }

    .learnBtnsContainer {
        width: 100%;
        margin-bottom: 200px;
    }
}

.learnInfo {
    h4 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 26px;
    }

    p {
        width: 333px;
        margin-bottom: 36px;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
    }
}

.learnImg {
    height: 0;

    img {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 615px;
    }
}

@media screen and (max-width: 1440px) {
    .learnContent {
        padding-top: 50px;
        height: 520px;
    }
    .learnMainInfoAndImg {
        width: 100%;
        margin: 0 auto;
    }
    .learnBtnsAndFAQ{
        width: 30%;
        p {
            padding-left: 8%;
            font-size: 14.5px;
        }
        .learnBtnsContainer {
            margin-bottom: 170px;
        }
    }
    .learnImg {
        img {
            height: 90%;
        }
    }
}
@media screen and (max-width: 1280px) {
    .learnBtnsAndFAQ {
        width: 30%;
        p{
            font-size: 12px;
        }
    }
     .learnInfo{
        h4{
            font-size: 30px;
        }
        p{
            width: 260px;
            font-size: 17px;
            margin-bottom: 20px;
        }
    }
    .learnImg {
        img {
            height: 80%;
        }
    }
}
@media screen and (max-width: 1025px) {
    .learnContainer {
        margin-bottom: 80px;
        padding-top: 80px;
    }
    
    .learnHeading {
        margin-bottom: 10px;

        h3 {
            font-size: 42px;
            margin-right: 16px;
        }

        img {
            width: 50px;
            height: 50px;
        }
    }

    .learnProtectText {
        width: 100%;
        font-size: 16px;
        margin-bottom: 43px;
    }

    .learnContent {
        padding-top: 47px;
        height: 363px;
    }

    .learnBtnsAndFAQ {
        margin-right: 6%;
        p {
            padding-left: 20px;
            font-size: 8px;
        }
    
        .learnBtnsContainer {
            margin-bottom: 133px;
        }
        
    }
    .learnInfo {
        h4 {
            font-size: 20px;
            margin-bottom: 16px;
        }
    
        p {
            width: 42%;
            margin-bottom: 12px;
            font-size: 12px;
            line-height: 16px;
            margin-right: 20px;
        }
    }

    .learnImg {
        img {
            height: 300px;
        }
    }
}
@media screen and (max-width: 858px) {
    .learnBtnsAndFAQ{
        margin-right: 5%;
    }
    .learnInfo {
        p {
            width: 40%;
        }
    }
}

@media screen and (max-width: 770px) {
    .learnContainer {
        margin-bottom: 105px;
        padding-top: 105px;
    }
    .learnHeading {
        h3 {
            font-size: 48px;
            margin-right: 16px;
        }
        img{
            width: 58px;
            height: 58px;
        }
    }

    .learnProtectText {
        font-size: 18px;
        margin-bottom: 29px;
    }

    .learnBtnsAndFAQ {
        width: 100%;
        margin-right: 0;
        .learnBtnsContainer {
            display: flex;
            margin-bottom: 24px;
            margin-right: 0px;
        }
        
    }
    .learnInfo {
        padding-left: 30px;
        padding-right: 30px;
        h4 {
            font-size: 30px;
            margin-bottom: 16px;
        }
    
        p {
            width: 100%;
            padding-bottom: 16px;
            margin-bottom: 0;
            font-size: 17px;
            line-height: 35px;
        }
    }
    .learnImg {    
        img {
            display: block;
            width: 325px;
            height: 330px;
            margin: 0 auto;
            left: 0;
        }
    }
    
}

@media screen and (max-width: 480px) {
    .learnHeading {
        h3 {
            font-size: 34px;
            margin-right: 10px;
        }
        img{
            width: 50px;
            height: 50px;
        }
    }
    .learnMainInfoAndImg{
        width: 100%;
    }
    .learnProtectText {
        margin-bottom: 35px;
    }

    .learnInfo {
        padding-left: 18px;
        padding-right: 18px;
        h4 {
            font-size: 26px;
        }
    
        p {
            font-size: 16px;
            line-height: 30px;
        }
    }
    .learnImg {
        img {
            width: 282px;
            height: 294px;
        }
    }
}
@media screen and (max-width: 368px) {
    .learnContainer {
        margin-bottom: 50px;
    }
    .learnHeading{
        img{
            width: 40px;
            height: 40px;
        }
    }
    .learnBtnsAndFAQ {
        .learnBtnsContainer {
            margin-bottom: 14px;
        }  
    }
    .learnInfo {
        h4 {
            font-size: 23px;
        }
    
        p {
            font-size: 15px;
            line-height: 26px;
        }
    }
    .learnImg {    
        img {
            width: 250px;
            height: 260px;
        }
    }
}