.container {
    border-radius: 0;
    display: flex;
    flex-direction: column;
  }
  
  .mainContent {
    background-color: #0e0f1d;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 56px 80px 509px;
  }
  
  @media (max-width: 991px) {
    .mainContent {
      max-width: 100%;
      padding: 0 20px 100px;
    }
  }
  
  .contentWrapper {
    display: flex;
    margin-bottom: -102px;
    width: 100%;
    max-width: 1424px;
    flex-direction: column;
    align-items: start;
  }
  
  @media (max-width: 991px) {
    .contentWrapper {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
  
  .headerSection {
    align-self: stretch;
    display: flex;
    width: 100%;
    padding-left: 15px;
    flex-direction: column;
  }
  
  @media (max-width: 991px) {
    .headerSection {
      max-width: 100%;
    }
  }
  
  .titleContainer {
    width: 573px;
    max-width: 100%;
  }
  
  .titleWrapper {
    gap: 20px;
    display: flex;
  }
  
  @media (max-width: 991px) {
    .titleWrapper {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }
  
  .titleColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 79%;
    margin-left: 0;
  }
  
  @media (max-width: 991px) {
    .titleColumn {
      width: 100%;
    }
  }
  
  .roadmapTitle {
    color: #fff;
    font: 800 90px Inter, sans-serif;
  }
  
  @media (max-width: 991px) {
    .roadmapTitle {
      max-width: 100%;
      margin-top: 32px;
      font-size: 40px;
    }
  }
  
  .iconColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 21%;
    margin-left: 20px;
  }
  
  @media (max-width: 991px) {
    .iconColumn {
      width: 100%;
    }
  }
  
  .roadmapIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 112px;
    max-width: 100%;
  }
  
  @media (max-width: 991px) {
    .roadmapIcon {
      margin-top: 32px;
    }
  }
  
  .timelineContainer {
    display: flex;
    margin-top: 184px;
    gap: 28px;
    font-family: Inter, sans-serif;
    color: #fff;
    font-weight: 700;
    flex-wrap: wrap;
  }
  
  @media (max-width: 991px) {
    .timelineContainer {
      margin-top: 40px;
    }
  }
  
  .timelineIcon {
    aspect-ratio: 0.03;
    object-fit: contain;
    object-position: center;
    width: 20px;
  }
  
  @media (max-width: 991px) {
    .timelineIcon {
      display: none;
    }
  }
  
  .timelineContent {
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-grow: 1;
    flex-basis: 0;
    width: fit-content;
  }
  
  @media (max-width: 991px) {
    .timelineContent {
      max-width: 100%;
    }
  }
  
  .quarterSection {
    align-self: stretch;
    display: flex;
    width: 100%;
    gap: 40px 49px;
    flex-wrap: wrap;
  }
  
  @media (max-width: 991px) {
    .quarterSection {
      max-width: 100%;
    }
  }
  
  .quarterTitle {
    font-size: 50px;
    align-self: start;
    flex-grow: 1;
  }
  
  @media (max-width: 991px) {
    .quarterTitle {
      font-size: 40px;
    }
  }
  
  .milestoneContainer {
    display: flex;
    gap: 17px;
    font-size: 30px;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: auto;
  }
  
  .milestone {
    border-radius: 20px;
    display: flex;
    gap: 25px;
    padding: 24px 30px;
    border: 3px solid #018eff;
  }
  
  @media (max-width: 991px) {
    .milestone {
      padding: 0 20px;
    }
  }
  
  .milestoneIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 39px;
  }
  
  .milestoneText {
    flex-basis: auto;
    flex-grow: 1;
  }
  
  .partnersTitle {
    color: #fff;
    margin-top: 226px;
    font: 800 90px Inter, sans-serif;
  }
  
  @media (max-width: 991px) {
    .partnersTitle {
      max-width: 100%;
      margin-top: 40px;
      font-size: 40px;
    }
  }
  
  .partnersImage {
    aspect-ratio: 2.13;
    object-fit: contain;
    object-position: center;
    width: 1058px;
    border-radius: 0;
    margin-top: 162px;
    max-width: 100%;
  }
  
  @media (max-width: 991px) {
    .partnersImage {
      margin-top: 40px;
    }
  }
  