.footer {
    padding-bottom: 81px;
    border-top: 3px solid white;

    .footerContant {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 56px;

        h2 {
            font-size: 25px;
            color: #F3F4FF;
        }

        img {
            margin-right: 35px;
        }

        p {
            font-size: 25px;
            font-weight: 800;
            color: #F3F4FF;
        }
    }
}