.footer {
    padding-bottom: 81px;
    border-top: 3px solid white;

    .footerContant {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 56px;

        h2 {
            font-size: 25px;
            color: #F3F4FF;
        }

        img {
            margin-right: 35px;
        }

        p {
            font-size: 25px;
            font-weight: 800;
            color: #F3F4FF;
        }
    }
}

@media screen and (max-width: 480px) {
    .footer {
        padding-bottom: 24px;
        .footerContant {
            margin-top: 12px;
    
            h2 {
                font-size: 13px;
            }
            img {
                margin-right: 6px;
                width: 20px;
                height: 20px;
            }
    
            p {
                font-size: 13px;
            }
        }
    }
}