.roadMapSection {
    padding-top: 156px;
    margin-bottom: 204px;   
}

.titleContainer {
    display: flex;
    margin-bottom: 134px;

    h1 {
        color: #fff;
        font-size: 80px;
        margin-right: 30px;
    }

    img {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 96px;
        max-width: 100%;
    }
}

.timelineContainer {
    display: flex;
    gap: 28px;
    font-family: Inter, sans-serif;
    color: #fff;
    font-weight: 700;
    flex-wrap: wrap;

    .timelineIcon {
        object-fit: cover;
        width: 24px;
    }
}

.timelineContent {
    display: flex;
    width: fit-content;
    align-items: start;
    align-self: start;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
}



.quarterSection {
    display: flex;
    align-self: stretch;
    margin-bottom: 51px;
    h1{
        width: 284px;
        font-size: 46px;
    }
}

.milestoneContainer {
    display: flex;
    width: 1092px;
    gap: 17px;
    flex-wrap: wrap;
    flex-basis: auto;
}



.milestone {
    display: flex;
    padding: 24px 30px;
    font-size: 30px;
    border-radius: 20px;
    border: 3px solid #018eff;
    transition: .3s ease-in-out;
    cursor: pointer;
    img {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 39px;
        margin-right: 25px;
    }

    h2 {
        flex-basis: auto;
        flex-grow: 1;
        font-size: 30px;
    }
    &:hover{
        transform: scale(1.03);   
    }
}


@media screen and (max-width: 480px) {
    .roadMapSection {
        padding-top: 80px;
        margin-bottom: 0;
        padding-bottom: 80px;
    }
    .titleContainer {
        margin-bottom: 59px;
    
        h1 {
            font-size: 34px;
            margin-right: 10px;
        }
    
        img {
            object-fit: contain;
            object-position: center;
            width: 50px;
        }
    }
    .timelineContainer {
    
        .timelineIcon {
            width: 27px;
            height: 1050px;
        }
    }
    .quarterSection {
        display: block;
        margin-bottom: 42px;
        h1{
            font-size: 26px;
            margin-bottom: 18px;
        }
    }
    .milestoneContainer {
        display: flex;
        width: 190px;
        margin-bottom: 42px;
    }
    .milestone {
        padding: 8px 12px;
        align-items: center;
        border-radius: 10px;
        border: 2px solid #018eff;
        img {
            width: 18px;
            margin-right: 6px;
        }
    
        h2 {
            font-size: 16px;
        }
    }
    
}