.tonBlock {
    width: 1428px;
    margin: 0 auto;
    padding-top: 156px;
    margin-bottom: 204px;
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 329px;
        height: 84px;
        font-size: 36px;
        font-weight: 700;
        background: #018EFF;
        color: white;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: .5s;

        &:hover {
            box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
            background: white;
            color: black;
            padding-left: 73px;
        }

        img {
            width: 62px;
            height: 62px;
            background: none;
            padding-left: 20px;
        }
    }
}

.headerBlock {
    display: flex;
    margin-bottom: 134px;

    h2 {
        margin-right: 19px;
        font-size: 80px;

        span {
            background-image: linear-gradient(90deg, #0066FF, #01D1FF);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            white-space: nowrap;
        }
    }
    img{
        width: 96px;
        height: 96px;
        align-items: baseline;
    }
}


.descriptionBlock {
    span {
        font-weight: 700;
        background-image: linear-gradient(90deg, #0066FF, #00FFFF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
    }

    p {
        width: 80%;
        font-size: 40px;
        line-height: 60px;
        font-weight: 700;
        margin-top: 38px;
        margin-bottom: 52px;
        color: #333;
    }
}
@media screen and (max-width: 1441px) {
    .tonBlock {
        width: 94%;
        margin-left: 3%;
    }
    .headerBlock {
        margin-bottom: 60px;
    }
}
@media screen and (max-width: 1025px) {
    .tonBlock {
        margin-left: 6%;
        padding-right: 180px;
        margin-bottom: 84px;
        padding-top: 84px;
        
        button {
            width: 179px;
            height: 46px;
            font-size: 19px;
            border-radius: 15px;
    
            &:hover {
                padding-left: 41px;
            }
    
            img {
                width: 40px;
                height: 40px;
                padding-left: 8px;
            }
        }
    }

    .headerBlock {
        margin-bottom: 76px;

        h2 {
            font-size: 42px;
            font-weight: 800;
            margin-right: 16px;
        }

        img {
            width: 50px;
            height: 50px;
        }
    }

    .descriptionBlock {
        p {
            width: 60%;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 28px;
        }
    }

}

@media screen and (max-width: 770px) {
    .tonBlock {
        margin-left: 25px;
        padding-right: 50px;
        margin-bottom: 100px;
        padding-top: 84px;

        button {
            width: 222px;
            height: 56px;
            font-size: 24px;
    
            &:hover {
                padding-left: 32px;
            }

            img {
                width: 36px;
                height: 36px;
                padding-left: 10px;
            }
        }
    }

    .headerBlock {
        margin-bottom: 54px;
        h2 {
            font-size: 48px;
            margin-right: 15px;
        }
    }
    .descriptionBlock {
        p {
            width: 85%;
            font-size: 18px;
            margin-bottom: 28px;
        }
    }

}
@media screen and (max-width: 480px) {
    .tonBlock {
        margin-left: 25px;
        padding-right: 50px;
        margin-bottom: 84px;
        padding-top: 84px;
        button {
            width: 179px;
            font-size: 18px;
    
            &:hover {
                padding-left: 45px;
            }
        }
    }

    .headerBlock {
        margin-bottom: 30px;
        h2 {
            font-size: 34px;
            margin-right: 10px;
        }
    }
    .descriptionBlock {
        p {
            width: 85%;
            margin-bottom: 36px;
        }
    }
}
@media screen and (max-width: 420px) {
    .headerBlock {
        margin-bottom: 20px;
        h2 {
            font-size: 30px;
            margin-right: 5px;
        }
        img{
            width: 40px;
            height: 40px;
        }
    }
    .descriptionBlock {
        p {
            width: 95%;
            font-size: 15px;
            margin-bottom: 20px;
        }
    }
}