.tonBlock {
    width: 1428px;
    margin: 0 auto;
    padding-top: 156px;
    margin-bottom: 204px;

    button {
        display: flex;
        align-items: center;
        width: 329px;
        height: 84px;
        padding-left: 44px;
        font-size: 36px;
        font-weight: 700;
        background: #018EFF;
        color: white;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: .5s;

        &:hover {
            box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
            background: white;
            color: black;
            padding-left: 79px;
        }

        img {
            background: none;
            padding-left: 20px;
        }
    }
}

.headerBlock {
    display: flex;
    align-items: baseline;
    margin-bottom: 134px;

    h1 {
        margin-right: 19px;
        font-size: 80px;

        span {
            background-image: linear-gradient(90deg, #0066FF, #01D1FF);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            white-space: nowrap;
        }
    }
}

.cardsBlock {
    margin-bottom: 42px;

    img {
        width: 431px;
        height: 598px;
        margin-right: 67px;

        &:last-child {
            margin-right: 0;
        }
    }
}


.descriptionBlock {
    span {
        font-weight: 700;
        background-image: linear-gradient(90deg, #0066FF, #00FFFF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
    }

    p {
        width: 80%;
        font-size: 40px;
        line-height: 60px;
        font-weight: 700;
        margin-bottom: 40px;
        color: #333;

        &:last-child {
            margin-top: 38px;
            margin-bottom: 52px;
        }
    }
}

@media screen and (max-width: 480px) {
    .tonBlock {
        width: 100%;
        margin-left: 25px;
        padding-right: 25px;
        margin-bottom: 84px;
        padding-top: 84px;
        button {
            width: 179px;
            height: 46px;
            padding-left: 24px;
            font-size: 18px;
            border-radius: 15px;
    
            &:hover {
                padding-left: 45px;
            }
    
            img {
                width: 40px;
                height: 40px;
                padding-left: 13px;
            }
        }
    }

    .headerBlock {
        margin-bottom: 50px;

        h1 {
            font-size: 34px;
            margin-right: 10px;
        }

        img {
            width: 30px;
            height: 30px;
        }
    }

    .cardsBlock {
        margin-bottom: 30px;
        img {
            display: block;
            margin: 0 auto;
            width: 307px;
            height: 382px;
            &:last-child {
                margin-right: auto;
            }
        }
    }
    .descriptionBlock {
    
        p {
            width: 100%;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 36px;
        }
    }

}