.about {
    width: 100%;
    height: 100%;
    margin-bottom: 204px;
    padding-top: 156px;
    display: flex;
}


.containerHeader {
    display: flex;
}

.aboutHeader {
    h1 {
        font-weight: 800;
        font-size: 80px;
        word-spacing: 15px;
        margin-bottom: 21px;
    }

    p {
        width: 720px;
        font-size: 30px;
        margin-bottom: 40px;
        font-weight: 700;
        color: #333;

    }
}

.aboutText {
    margin-right: 20px;
}

.aboutHeader .aboutText {
    background-image: linear-gradient(90deg, #0066FF, #01D1FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutButtons {
    display: flex;
    justify-content: space-between;

    button {
        width: 200px;
        height: 84px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: 15px;
        border: 4px solid #00A3FF;
        background: white;
        color: black;
        font-size: 30px;
        font-weight: 700;
        transition: .5s;
        cursor: pointer;

        &:first-child {
            margin-right: 45px;
            background: #00A3FF;
            color: white;

            &:hover {
                background: white;
                color: #000;
                padding-left: 44px;
            }
        }

        &:last-child {
            margin-left: 45px;
        }

        &:hover {
            background: #00A3FF;
            color: white;
        }

        img {
            background: transparent;
            margin-left: 5px;
        }
    }
}

.gifBlock {
    position: relative;
    margin-left: 189px;

    img {
        width: 400px;
        height: 400px;
        justify-self: center;
        align-self: center;
    }
}

@media screen and (max-width: 480px) {
    .about {
        width: 0%;
        margin-bottom: 105px;
        padding-top: 80px;
    }

    .aboutHeader {
        width: 221px;

        h1 {
            font-size: 40px;
            word-spacing: 15px;
            margin-bottom: 14px;
        }

        p {
            width: 217px;
            font-size: 15px;
            font-weight: 700;
            margin-bottom: 46px;
        }
    }

    .aboutText {
        margin-right: 10px;
    }

    .aboutButtons {
        button {
            width: 92px;
            height: 35px;
            font-size: 15px;
            border-radius: 10px;
            border: 2px solid #00A3FF;

            &:first-child {
                margin-right: 10px;

                &:hover {
                    padding-left: 15px;
                }
            }

            &:last-child {
                margin-left: 10px;
            }

            img {
                width: 20px;
                height: 20px;
                margin-left: 2px;
            }
        }
    }

    .gifBlock {
        position: absolute;
        left: 282px;
        margin-left: 0px;

        img {
            width: 136px;
            height: 136px;
            justify-self: center;
            align-self: center;
        }
    }
}