.header{
    padding: 20px 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.logo{
    align-self: center;
}

.logo h1 {
    font-size: 45px;
    color:  #000;
    font-weight: 900;
    text-align: left;
    align-self: center;
}

.navigation {
    justify-self: center;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 80px;
    justify-content: flex-end;
    margin-right: 20px;
}

.navigation ul li {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding: 10px;
}

.navigation ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    transition: .5s;
}

.navigation ul li a:hover{
    color: rgba(0, 0, 0, 0.6)
}