.logo {
    display: flex;
    align-self: center;
    background: transparent;
    cursor: pointer;
    img{
        height: 70px;
        align-self: center;
    }

}
@media screen and (max-width: 480px) {
    .logo {
        img {
            height: 40px;
        }
    }
}