.header {
    position: relative;
    padding: 20px 0;
    margin-bottom: 180px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    width: 100%;
}


@media screen and (max-width: 480px) {
    .header {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 999;
        padding: 17px 24px;
        background: white;
    }


    .container {
        display: flex;
        position: relative;
        justify-content: space-between;
    }

    .navigationBar {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1;
        margin-top: 15px;
        padding-top: 28px;
        background-color: rgba(33, 33, 33, 0.99);
        backdrop-filter: blur(8px);

        li {
            padding-left: 25px;
            list-style: none;
            margin-bottom: 30px;

            button {
                background: transparent;
                color: white;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}