.header {
    position: relative;
    padding: 20px 0;
    margin-bottom: 180px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.logo {
    align-self: center;
    h1 {
        font-size: 50px;
        color: #000;
        font-weight: 800;
        text-align: left;
        align-self: center;
    }
}


.navigation {
    justify-self: center;
    ul {
        display: flex;
        list-style: none;
        gap: 80px;

        li {
            text-decoration: none;
            color: #000;
            font-size: 20px;
            padding: 10px;

            a {
                
                text-decoration: none;
                color: #000;
                font-weight: 800;
                transition: .5s;
                &:hover {
                    color: rgba(0, 0, 0, 0.6)
                }
            }
            &:last-child{
                position: absolute;
                right: 0;
            }
            button{
                background: transparent;
                color: #000;
                font-weight: 800;
                cursor: pointer;
                transition: .5s;
                &:hover {
                    color: rgba(0, 0, 0, 0.6)
                }
            }
        }
    }
}