.header {
    position: relative;
    padding: 20px 0;
    margin-bottom: 180px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    width: 100%;
}

.logo {
    align-self: center;
    h1 {
        font-size: 50px;
        color: #000;
        font-weight: 800;
        text-align: left;
        align-self: center;
    }
}


.navigation {
    justify-self: center;
    ul {
        display: flex;
        list-style: none;
        gap: 80px;

        li {
            text-decoration: none;
            color: #000;
            font-size: 20px;
            padding: 10px;

            a {
                
                text-decoration: none;
                color: #000;
                font-weight: 800;
                transition: .5s;
                &:hover {
                    color: rgba(0, 0, 0, 0.6)
                }
            }
            &:last-child{
                position: absolute;
                right: 0;
            }
            button{
                background: transparent;
                color: #000;
                font-weight: 800;
                cursor: pointer;
                transition: .5s;
                &:hover {
                    color: rgba(0, 0, 0, 0.6)
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .header {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 999;
        padding: 17px 24px;
        background: white;
    }
    .logo {
        h1 {
            font-size: 28px;
        }
    }
    .container{
        display: flex;
        position: relative;
        justify-content: space-between;
    }

    .navigationAdaptiv {
        ul {
            display: flex;
            list-style: none;
            li {
                font-size: 20px;
                padding: 0;
                button{
                    background: transparent;
                    cursor: pointer;
                }
                .buttonAdaptiveLang{
                    display: flex;
                    margin-right: 14px;
                    button{
                        margin-right: 9px;
                    }
                    h4{
                        width: 31px;
                        text-align: center;
                    }
                }
                
                
            }
        }
    }
    .navigationBar{
        position: fixed;
        left: 0;
        right: 0;
        z-index: 999;
        margin-top: 15px;
        padding-top: 28px;
        background-color: rgba(33, 33, 33, 0.99);
        backdrop-filter: blur(8px);
        li{
            width: 390px;
            margin: 0 auto;
            list-style: none;
            margin-bottom: 30px;
            a{
                color: white;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}