.navigation {
    width: 100%;

    ul {
        display: flex;
        justify-content: center;
        list-style: none;

        li {
            text-align: center;
            text-decoration: none;
            color: #000;
            padding: 10px;
            margin-right: 6.2%;

            &:nth-child(4) {
                margin-right: 0;
            }

            &:last-child {
                position: absolute;
                right: 0;
                margin-right: 0;
            }

            button {
                background: transparent;
                color: #000;
                font-size: 20px;
                font-weight: 800;
                cursor: pointer;
                transition: .5s;

                &:hover {
                    color: rgba(0, 0, 0, 0.6)
                }
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    .navigationAdaptiv {
        width: 100%;
        display: flex;
        justify-content: right;

        ul {
            display: flex;
            list-style: none;

            li {
                button {
                    background: transparent;
                    cursor: pointer;
                }

                img {
                    width: 30px;
                    height: 30px;
                }
            }

            .buttonAdaptiveLang {
                display: flex;
                margin-right: 26px;
            }
        }
    }

}

@media screen and (max-width:770px) {
    .navigationAdaptiv {
        ul {
            li {
                img {
                    width: 36px;
                    height: 36px;
                }
            }
        }
    }

}

@media screen and (max-width: 480px) {
    .navigationAdaptiv {
        ul {
            li {
                img {
                    width: 24px;
                    height: 24px;
                }
            }

            .buttonAdaptiveLang {
                margin-right: 14px;
            }
        }
    }
}