.partnersContainer {
    margin-bottom: 311px;
    h2 {
        margin-bottom: 120px;
        font-size: 90px;
        font-weight: 800;
        color: #fff;
    }

    img {
        width: 1058px;
        max-width: 100%;
        aspect-ratio: 2.13;
        object-fit: contain;
        object-position: center;
    }
}