.partnersContainer {
    padding-top: 156px;
    margin-bottom: 260px;

    .partnersHeading {
        display: flex;

        h2 {
            margin-right: 30px;
            font-size: 80px;
            font-weight: 800;
            color: #fff;
        }

    }

    .allPartners {
        width: 1428px;
        height: 507px;
        margin-top: 134px;
        aspect-ratio: 2.13;
        object-fit: contain;
        object-position: center;

        button {
            width: 200px;
            height: 200px;
            background: transparent;
            cursor: pointer;
        }

        img {
            width: 200px;
            height: 200px;
            margin-right: 107px;
            margin-bottom: 107px;
            border-radius: 20px;
        }
    }
}

.modalContentPartners {
    width: 895px;
    height: 529px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 20px;

    span {
        position: absolute;
        top: 10px;
        right: 30px;
        cursor: pointer;
    }

    .gif7Dugs {
        width: 245;
        height: 245px;
        margin-bottom: 40px;
    }

    button {
        width: 214px;
        height: 48px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        cursor: pointer;
        font-weight: 800;
        font-size: 20px;

        img {
            width: 23px;
            height: 23px;
            margin-right: 13px;
        }
    }

    p {
        width: 700px;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .partnersContainer {
        padding-top: 84px;
        margin-bottom: 80px;

        .partnersHeading {
    
            h2 {
                margin-right: 10px;
                font-size: 34px;
            }
            img{
                width: 50px;
                height: 50px;
            }
    
        }
        .allPartners {
            width: 100%;
            height: 100%;
            margin-top: 50px;

            img {
                width: 85px;
                height: 85px;
                margin-right: 38px;
                margin-bottom: 30px;
            }
            button {
                width: 85px;
                height: 85px;
                img{
                    margin-right: 0;
                }
            }
        }
    }
}