
.mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 220px;
}

.mainContent {
    text-align: center;

    p {
        width: 600px;
        margin: 0 auto;
        margin-bottom: 64px;
        font-size: 30px;
        font-weight: 700;
        color: black;
    }

    button {
        width: 45%;
        height: 70px;
        margin: 0 auto;
        background-color: black;
        color: white;
        border: none;
        font-size: 30px;
        cursor: pointer;
        border-radius: 15px;
        font-weight: 700;
        transition: .5s;

        &:hover {
            background: white;
            color: black;
            box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
        }
    }
}


.logoUdoContainer {
    display: inline-block;
    width: 162px;
    h1 {
        width: fit-content;
        height: 153px;
        font-size: 90px;
        text-align: center;
        font-family: "Roboto Mono", monospace;
        font-weight: 700;
        overflow: hidden;
    }
}

.highlight {
    margin-bottom: 28px;
    font-size: 90px;
    font-weight: 700;
    color: aquamarine;
    background-image: linear-gradient(90deg, #0066FF, #01D1FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.modalContent {
    width: 645px;
    height: 554px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);

    span {
        position: absolute;
        top: 10px;
        right: 30px;
        cursor: pointer;
    }

    .gif6Dugs {
        width: 228px;
        height: 228px;
        margin-bottom: 41px;
    }

    p {
        width: 537px;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 51px;
        text-align: center;
    }

    button {
        width: 214px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        cursor: pointer;
        font-weight: 800;
        font-size: 20px;

        img {
            width: 23px;
            height: 23px;
            margin-right: 13px;
        }
    }
}

@media screen and (max-width: 1025px) {
    .mainSection {
        padding-top: 137px;
        margin-bottom: 61px;
    }

    .logoUdoContainer {
        width: 108px;
        h1 {
            height: 79px;
            font-size: 60px;
            margin-bottom: 0px;
        }
    }

    .highlight {
        display: block;
        margin-bottom: 18px;
        font-size: 60px;
    }


    .mainContent {
        p {
            width: 410px;
            margin-bottom: 42px;
            font-size: 20px;
        }

        button {
            width: 184px;
            height: 53px;
            font-size: 24px;
        }
    }

    .modalContent {
        width: 95%;
        height: 350px;
        border-radius: 10px;
    
        .gif6Dugs {
            width: 30%;
            height: 130px;
            margin-bottom: 20px;
        }
    
        p {
            width: 80%;
            font-size: 23px;
            margin-bottom: 30px;
        }
    
        button {
            width: 60%;
            height: 45px;
            border-radius: 10px;
            font-size: 20px;
    
            img {
                width: 25px;
                height: 25px;
                margin-right: 10px;
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .mainSection {
        padding-top: 146px;
        margin-bottom: 80px;
    }

    .logoUdoContainer {
        width: 162px;
        h1 {
            height: 95px;
            font-size: 72px;
        }
    }

    .highlight {
        margin-bottom: 22px;
        font-size: 62px;
    }
    
    .mainContent {
        p {
            width: 74%;
            margin-bottom: 50px;
            font-size: 24px;
        }

        button {
            width: 200px;
            height: 54px;
            font-size: 25px;
        }
    }
}



@media screen and (max-width: 480px) {
    .mainSection {
        padding-top: 146px;
        margin-bottom: 80px;
    }

    .highlight {
        margin-bottom: 10px;
        font-size: 50px;
    }

    .mainContent {
        p {
            width: 80%;
            margin-bottom: 28px;
            font-size: 15px;
        }

        button {
            width: 134px;
            height: 36px;
            font-size: 16px;
        }
    }

   
    .modalContent {
        width: 85%;
    
        .gif6Dugs {
            width: 35%;
        }
    
        p {
            font-size: 20px;
        }
    
        button {
            height: 35px;
            font-size: 17px;
    
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}
@media screen and (max-width: 368px) {
    .mainSection {
        padding-top: 120px;
    }
    .highlight {
        font-size: 45px;
    }
    .logoUdoContainer {
        width: 139px;
        h1 {
            height: 70px;
            font-size: 58px;
        }
    }
    .mainContent {
        p {
            font-size: 13px;
            margin-bottom: 18px;
        }
    }
}