.mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 220px;
}

.mainContent {
    text-align: center;

    p {
        width: 600px;
        margin: 0 auto;
        margin-bottom: 64px;
        font-size: 30px;
        font-weight: 600;
        color: #333;

    }

    button {
        width: 45%;
        height: 70px;
        margin: 0 auto;
        background-color: black;
        color: white;
        border: none;
        font-size: 30px;
        cursor: pointer;
        border-radius: 15px;
        font-weight: 700;
        transition: .5s;

        &:hover {
            background: white;
            color: black;
            box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
        }
    }
}


.logoUdoContainer {
    display: inline-block;

    h1 {
        height: 170px;
        font-size: 90px;
        font-weight: bold;
        margin-bottom: 34px;
        white-space: nowrap;
        overflow: hidden;
        width: fit-content;
        text-align: center;
        justify-self: center;
        font-family: "Roboto Mono", monospace;
        font-optical-sizing: auto;
        font-style: normal;
    }
}

.highlight {
    display: block;
    margin-bottom: 28px;
    font-size: 90px;
    font-weight: bold;
    background-image: linear-gradient(90deg, #0066FF, #01D1FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.modalContent {
    width: 645px;
    height: 554px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);

    span {
        position: absolute;
        top: 10px;
        right: 30px;
        cursor: pointer;
    }

    .gif6Dugs {
        width: 228px;
        height: 228px;
        margin-bottom: 41px;
    }

    p {
        width: 537px;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 51px;
        text-align: center;
    }

    button {
        width: 214px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        cursor: pointer;
        font-weight: 800;
        font-size: 20px;

        img {
            width: 23px;
            height: 23px;
            margin-right: 13px;
        }
    }
}

@media screen and (max-width: 480px) {
    .mainSection {
        padding-top: 146px;
        margin-bottom: 80px;
    }

    .mainContent {
        p {
            width: 296px;
            margin-bottom: 10px;
            font-size: 15px;
        }

        button {
            width: 134px;
            height: 36px;
            font-size: 16px;
        }
    }

    .logoUdoContainer {
        h1 {
            height: 79px;
            font-size: 60px;
            margin-bottom: 0px;
        }
    }

    .highlight {
        display: block;
        margin-bottom: 10px;
        font-size: 50px;
    }
}