@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

@media screen and (max-width: 480px){
  #root {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 1025px){
  #root {
    overflow-x: hidden;
  }
}
