* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

@media screen and (max-width: 480px){
  #root {
    overflow-x: hidden;
  }
}
