.visitingPageWhiteContainer{
    display: block;
    width: 1428px;
    margin: 0 auto;    
}

@media screen and (max-width: 480px) {
    .visitingPageWhiteContainer{
        width: 390px;
    }
}

.visitingPageBlackContainer{
    display: block;
    padding-top: 24px;
    background-color: #0e0f1d;
    .visitingPageBlack{
        width: 1428px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px) {
    .visitingPageBlackContainer{
        .visitingPageBlack{
            width: 390px;     
        }
    }
}

.dottedBlue{
    display: block;
    width: 100%;
    margin: 0;
    height: 4px; 
    background: linear-gradient(to right, #0170FF 30px, transparent 30px, transparent 60px, #00FFFF 60px);
    background-size: 60px 4px; 
}

.dottedWhite{
    display: block;
    width: 100%;
    margin: 0;
    height: 4px; 
    background: linear-gradient(to right, white 30px, transparent 30px, transparent 60px, #00FFFF 60px);
    background-size: 60px 4px; 
}